

/* Google Font Used */
body{
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}
section{
    margin: 0 0 100px 0;
    /* Every section is given margin-bottom: 100px; to have a consistent design  */
}

.text-deep-blue{
    color: #231D4F;
}
/*  */
.rounded-25{
    border-radius: 25px;
}